.container {
    margin-top: 7rem;
}

.news-card {
    padding: 1rem;
    margin: 2rem auto;
    border: none; 
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%)!important;
}

.news-image img {
    width: 100%;
}