{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
	
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/navbar.css' %}" />
    {% block stylesheets %}
    
    {% endblock stylesheets %}
    
	<title>Sengupta Lab</title>

	<style>
		*{
			font-family: Granville-regular;
		}
        @font-face {
            font-family: Granville-regular;
            src: url("{% static 'fonts/Granville/Granville-Regular.otf' %}");
        }
        @font-face {
            font-family: Granville-bold;
            src: url("{% static 'fonts/Granville/Granville-Bold.otf' %}");
        }

        .font-granville-regular {
            font-family: Granville-regular;
        }
        .font-granville-bold {
            font-family: Granville-bold;
        }
    </style>
	
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light px-md-5 fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img src="https://debarka.github.io/senguptalab/assets/themes/lab/images/logo/SenguptaFavicon.svg"
					alt="" width="30" height="24" class="d-inline-block align-text-top">
				Sengupta Lab
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" style="background-color: white;" id="navbarSupportedContent">
				<ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
					<li class="nav-item">
						<a class="nav-link {{home_page}} " aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{about_page}} " href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{research_page}} " href="/research">Research</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{team_page}} " href="/team">Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{papers_page}} " href="/papers">Publications</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{software_page}} " href="/softwares">Softwares</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{news_page}} " href="/news">News</a>
					</li>
			</div>
		</div>
	</nav>


    {% block body %} {% endblock body %}

	<div class="footer">
		<footer>
			<div class="footer-inner">
				<div class="mb-5">
					{% if footer.purpose %}
						<h3 class="text-center"><strong>Purpose</strong></h3>
						<p class="text-center">{{footer.purpose}}</p>
					{% endif %}
				
				</div>
				<div class="row">
					<div class="col-12 col-md-2 footer-image">
						<img src="{{footer.image_1}}" alt="Institute Image">
						<img src="{{footer.image_2}}" alt="Institute Image">
					</div>
					<div class="col-12 col-md-7 px-md-5 my-4 my-md-0 mr-auto">
						<div>{{footer.address | safe}}</div>

						<!-- {% if footer.address1_title %}
							<p><strong>{{footer.address1_title}}: </strong>{{footer.address1}}</p>
						{% endif %}
						{% if footer.address2_title %}
							<p><strong>{{footer.address1_title}}: </strong>{{footer.address2}}</p>
						{% endif %}
						{% if footer.address3_title %}
							<p><strong>{{footer.address3_title}}: </strong>{{footer.address3}}</p>
						{% endif %}
						{% if footer.address4_title %}
							<p><strong>{{footer.address4_title}}: </strong>{{footer.address4}}</p>
						{% endif %}
						{% if footer.address5_title %}
							<p><strong>{{footer.address5_title}}: </strong>{{footer.address5}}</p>
						{% endif %} -->
					</div>
					<div class="col-12 col-md-3">
						<h5 class=""><strong>Debarka Sengupta</strong></h5>
						<p class=""><i class="bi bi-envelope-fill"> </i>{{footer.contact_email}}</p>
						<p><i class="bi bi-telephone-fill"> </i>{{footer.contact_phone}}</p>
						<a href="{{footer.twitter}}" class="icon mt-5"><i class="bi bi-twitter"></i></a>
						<a href="{{footer.linkedin}}" class="icon mt-5"><i class="bi bi-linkedin"></i></a>
					</div>
				</div>
			</div>
			<!-- <h5 class="text-center mt-5">Made with 💛 by <a
				href="https://github.com/tushar19340"
				style="text-decoration: none;"
			>
				Tushar Bharti
			</a></h5> -->
		</footer>
	</div>

    {% block jsScript %}
    
    {% endblock jsScript %}

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

</body>

</html>