{% extends 'base.html' %} {% load static %} {% block stylesheets %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'stylesheets/papers.css' %}"
/>

{% endblock stylesheets %} {% block body %}

<!-- <div class="background">
    <h1 class="heading">Papers</h1>
</div> -->

<div class="wrapper">

            <div class="row">
                <div class="col-12 col-md-8 order-1 order-md-0">
                    {% for p in papers %}
                        <div class="flip-card">
                            <div class="flip-card-inner" id="id{{p.id}}">
                                <div class="flip-card-front">
                                    <div class="row g-0" style="height: 100%">
                                        <div class="col-md-4 card-image-div">
                                            <img src="{{p.imageUrl}}" alt="..." />
                                        </div>
                                        <div class="col-md-8 card-body d-flex flex-column justify-content-between">
                                            <div class="card-title">
                                                <h3 class="font-granville-bold">{{p.title}}</h3>
                                            </div>
                                            <div>
                                                <p class="card-text mb-0">
                                                    <small class="text-muted">
                                                        Authors: {{p.authors}}
                                                    </small>
                                                </p>
                                                
                                                <div class="links" id="1">
                                                    <p class="card-text m-0">
                                                        
                                                        <small class="text-muted">
                                                            {{p.journal_name}}
                                                        </small>
                                                    </p>
                                                    <p class="m-0">Year: {{p.date.year}}</p>
                                                    <a class="" href="{{p.doiLink}}">DOI</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <div class="abstract">
                                        <h3>Abstract</h3>
                                        <p>{{p.abstract}}</p>
                                    </div>
                                    <button class="btn btn-primary btn-flip float-right" onclick=flip("id{{p.id}}") >Back</button>
                                </div>
                                <button class="btn btn-primary btn-flip float-right" onclick=flip("id{{p.id}}") >View more</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-12 col-md-4 order-0 order-md-1">
                    <div class="filter-div mb-5">
                        <h3 class="text-center">FILTER</h3>
                        <div class="filter-input">
                            <form action="/papers" method="GET">
                                {% csrf_token %}
                                {% for option in filters %}
                                    <input type="checkbox" id="{{option.name}}" name="filter_list" value="{{option.name}}" {% if option.name in active_filters %} checked {% endif %}>
                                    <label for="{{option.name}}">{{option.name}}</label><br>
                                {% endfor %}
                                <button class="btn btn-primary w-100" type="submit">Apply</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>


</div>

<script>
    function flip(id) {
        document.getElementById(id).classList.toggle("flip")
    }
</script>
{% endblock body %}
    <script src=""></script>
{% block jsScript %}
    <script src="{% static 'js/papers.js' %}"></script>
{% endblock jsScript %}
