{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/team.css' %}" />

{% endblock stylesheets %}


{% block body %}
    <!-- <div class="background">
        <h1 class="heading">Our Team</h1>
    </div> -->
    <div class="wrapper">
        <div class="row">
            <div class="col-12 col-md-9 order-1 order-md-0">
                <div class="row row-cols-1 row-cols-md-3">
                    {% for member in team %}
                        <div class="col">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="card-image-div">
                                        <img src="{{member.imageUrl}}" alt="Avatar">
                                    </div>
                                    <div class="front-body">
                                        <div>
                                            <h3 class="font-granville-bold">{{member.name}}</h3>
                                            <h5>{{member.designation}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <h3 class="font-granville-bold">{{member.name}}</h3> 
                                    <div class="card-back-text">
                                        <p>{{member.about | safe}}</p> 
                                    </div>
                                    <div>
                                        <a href="{{member.linkedin}}"><i class="bi bi-linkedin"></i></a>
                                        <a href="mailto: {{member.email}}"><i class="bi bi-envelope-fill"></i></a>
                                        <a href="{{member.github}}"><i class="bi bi-github"></i></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>         
                    {% endfor%}
                </div>
            </div>
            <div class="col-12 col-md-3 order-0 order-md-1">
                <div class="filter-div mb-5">
                    <h3 class="text-center">FILTER</h3>
                    <div class="filter-input">
                        <form action="/team" method="GET">
                            {% csrf_token %}
                            {% for option in filters %}
                                <input type="checkbox" id="{{option.name}}" name="filter_list" value="{{option.name}}" {% if option.name in active_filters %} checked {% endif %}>
                                <label for="{{option.name}}">{{option.name}}</label><br>
                            {% endfor %}
                            <button class="btn btn-primary w-100" type="submit">Apply</button>
                        </form>
                    </div>
                </div>
                
            </div>


        </div>

       

                     
    </div>
{% endblock body %}

{% block jsScript %}
    <script src="{% static 'js/team.js' %}"></script>
{% endblock jsScript %}